[submodule "resources/mcps"]
	path = resources/mcps
	url = https://github.com/recodeee/mcps.git
	branch = main
[submodule "resources/skills"]
	path = resources/skills
	url = https://github.com/recodeee/skills.git
	branch = soul-main
